*{
	box-sizing: border-box;
}
body{
	margin:2%;
	background-color: rgba(76, 184, 229, 0.4);
}
section{
	box-sizing: border-box;
	float:left;
	width:31%;
	height:50%;
	margin:10px;
	border:#006666 solid 1px;
	position:relative;
	padding:10px;
	padding-top:25px;
	height:30%;
	font-family:  Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	font-weight: 500;
}
#s1{
	background-color: rgba(93, 192, 54, 0.6);
}
#s2{
	background-color: rgba(160, 97, 80, 0.4);
}
#s3{
	background-color: rgba(255, 99, 71, 0.6);
}
#heading{
	font-size: 175%;
	text-align: center;
	text-transform: capitalize;
	text-decoration:underline;
	font-family:Georgia, Times, "Times New Roman", serif;
	font-weight: bold;
}

#section-head{
	border:#00AAAA solid 1px;
	display:inline;
	float:right;
	font-size: 125%;
	position: absolute;
	top:0px;
	right:0px;
	font-weight: bold;

}
.sech1{
background-color: rgba(93, 192, 54, 0.8);
}
.sech2{
background-color: rgba(160, 97, 80, 0.6);
}
.sech3{
background-color: rgba(255, 99, 71, 0.8)
}
h1{
	color: black;
}
@media (min-width: 768px) and (max-width: 991px){
section{
	box-sizing: border-box;
	width: 46%;
	margin-left:2%;
	margin-right:2%;
	margin-bottom: 15px;
}
#s3{
	width:96.1%;
}


}
@media (max-width: 767px)
{
body{
	margin-right: 5%;
}

section{

	width:100%;

}
}
